*{
    margin: 0px;
    padding: 0px}
.logo{

    height: 10%;
    width: 20%;
   /* / padding: 10px; */
    margin: 1px 1px 1px 2px;

}
.navbar-nav {
    margin-left: auto;
    padding-bottom: -0.5rem;
    padding: 10px;
    /*margin-right: 20px;*/
}
.container-fluide{
    text-align: center; 
    width: auto;
    height: 90vh;  
    color: white;
}
.container-fluide h1{
    margin: 297px 0px;
}
#bac_1{
    text-align: center;
    background-image: url("sprk.jpg");
    width: auto;
    height: 90vh;  
    color: white;
}
#bac_2{
    text-align: center;
    background-image: url("serv1.jpg");
    width: 100%;
    height: 90vh;  
    color: white; 
}
#bac_3{
    text-align: center;
    background-image: url("pro.jpg");
    width: 100%;
    height: 90vh;  
    color: white; 
}
.intro{
    text-align: center;
    color: black;
    text-justify: auto;
    height: 100vh;
    margin: auto;
    padding: 15%;
    text-justify: auto;
}
#serv h1{
    text-align: center;  
    margin: 10px;
    padding: 10%;
}
#serv{
    height: 100vh;
    /* width: fit-content; */
       
}
.contact{
    text-align: center;
    margin: 10%;
    height: 100vh;
}
#name{
    padding: 10px;
}
#email{
    padding: 10px;
}
#mesg{
    padding: 10px;
}